.profile-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.profile-container {
    margin-top: 20px;
    color: white;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5); /* Добавляет полупрозрачный фон для читабельности текста */
    position: relative; /* Для корректного наложения слоев */
    z-index: 1;
}

.profile-title {
    margin-bottom: 20px;
}

.profile-row {
    background-color: rgba(44, 44, 44, 0.8);
    padding: 20px;
    border-radius: 8px;
}

.profile-row h4 {
    margin-bottom: 15px;
}

.profile-row .form-control {
    background-color: #333;
    color: white;
    border: 1px solid #444;
}

.profile-row .form-control::placeholder {
    color: #ccc; /* Цвет для placeholder текста */
}

.profile-row .btn {
    width: 100%;
    margin-bottom: 10px;
}

.profile-row .btn-success {
    background-color: green;
    border: none;
}

.profile-row .btn-secondary {
    background-color: grey;
    border: none;
}
